<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="4.2.2" targetFramework="net48" />
  <package id="NUnit.Runners.lite" version="2.6.4.20150512" targetFramework="net48" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.3" targetFramework="net45" />
  <package id="Rx-Testing" version="2.2.2" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>